{% extends "mybase1.html" %}
{% block titleop %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>



<div id="container" style="height: 400px; min-width: 310px"></div>

<script>
//debugger;

//debugger;	      

var seriesOptions = [];

function createChart() {

    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}


var data =  {{output | tojson }};

var parseDate = d3.timeParse("%Y-%m-%d-%H");
var series = {};

for (i=0; i < data.length; i++) {
	      var title = data[i]['title'];
	      var ymdh = data[i]['ymdh'];
	      var str = ymdh.split('-');
	      var b = str.map(function(item) {
	      return parseInt(item, 10);
	      });
	      var ymdh = (Number(str[0]), Number(str[1]), Number(str[2]), Number(str[3].slice(0, 2)));
	      var ymdh = Date.UTC(b[0],b[1]-1,b[2],b[3])
	      var vcount = data[i]['vcount'];

	      if (!(title in series)){
	      series[title] = [[ymdh, vcount]];
	      }
	      else{
	      series[title].push([ymdh, vcount]);
}
	      };

var keys = [];

for (var key in series) {
    if (series.hasOwnProperty(key)) {
        keys.push(key);
    }
};



for (i=0; i < keys.length; i++) {

seriesOptions[i] = {
name: keys[i],
data: series[keys[i]]
}
};

/*
arr.sort(function(a, b){
    var keyA = new Date(a.updated_at),
        keyB = new Date(b.updated_at);
    // Compare the 2 dates
    if(keyA < keyB) return -1;
    if(keyA > keyB) return 1;
    return 0;
});
*/


              createChart();
</script>



<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>title</th>
                         <th>ymdh</th>
                         <th>vcount</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.title}}</td>
                         <td>{{val.ymdh}}</td>
                         <td>{{val.vcount}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>

{% endblock %}

